.nav {
  background-color: #39497d;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 2rem;
  padding: 0 3rem 0 0;
}

.routes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.route {
  padding: 0 5rem;
  color: white;
  text-decoration: none;
}
.item {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.functionItem {
  padding: 0 1.5rem;
  width: 15rem;
  cursor: pointer;
  height: 100%;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
}

.functionItem:hover,
.functionItem:active {
  background-color: #313a63;
}

.active {
  background-color: #1f1f32;
}

.item:hover {
  background-color: #313a63;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0rem;
  width: 20rem;
  z-index: 10;
  background-color: #181725;
}

.menuItem {
  padding: 1rem 2rem;
  display: block;
  text-decoration: none;
  color: white;
}

.menuItem:hover,
.menuItem:active {
  background-color: #1f1f32;
  cursor: pointer;
}
